<?xml version="1.0"?>

<launch>

   <arg name="sensor_range" default="2.0"/>
   <arg name="use_sim_time" default="false" />
   <param name="/use_sim_time" value="$(arg use_sim_time)"/>
   <arg name="show_rviz" default="true" />

     <include file="$(find kobuki_node)/launch/minimal.launch" />

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" >
    <param name="min_ang" value="-2.2689"/>
    <param name="max_ang" value="2.2689"/>
  </node>

  <node pkg="turtlebot_tf" type="turtlebot_tf_node" name="turtlebot_tf_node" >
    <!-- oddometry topic name-->
    <param name="odometry_topic_name" value="/odom"/>

    <!-- position of the URG laser with regarding to base_link frame-->
    <param name="x_laser" value="0.0"/>
    <param name="y_laser" value="0.0"/>
    <param name="z_laser" value="0.478"/>
    <!-- orientation of the URG laser with regarding to base_link frame-->
    <param name="roll_laser" value="0.0"/>
    <param name="pitch_laser" value="0.0"/>
    <param name="yaw_laser" value="0.0"/>
  </node>

  <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" >

    <param name="maxUrange" value="4.0"/>
    <!-- Map size / start point -->
    <param name="delta" value="0.05"/>
    <param name="xmin" value="-5.0"/>
    <param name="ymin" value="-5.0"/>
    <param name="xmax" value="7.0"/>
    <param name="ymax" value="5.0"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="temporalUpdate" value="2.0"/>

  </node>

  <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find robulab)/rviz_cfg/exploration.rviz" if="$(arg show_rviz)"/-->

  <node pkg="move_base" type="move_base" respawn="true" name="move_base" >
    <remap from="base_scan" to="scan"/>
    <remap from="cmd_vel" to="mobile_base/commands/velocity"/>
    <remap from="odom" to="/odo"/>
    <rosparam file="$(find turtlebot_tf)/yaml/costmap_common_turtbot.yaml" command="load" ns="global_costmap"/> 
    <rosparam file="$(find turtlebot_tf)/yaml/global_costmap.yaml" command="load" />  
    <rosparam file="$(find turtlebot_tf)/yaml/costmap_common_turtbot.yaml" command="load" ns="local_costmap"/> 
    <rosparam file="$(find turtlebot_tf)/yaml/local_costmap.yaml" command="load" />
    <rosparam file="$(find turtlebot_tf)/yaml/trajectory_planner_turtbot.yaml" command="load"/>
  </node>

  <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find turtlebot_tf)/yaml_tf/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot_tf)/yaml_tf/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_tf)/yaml_tf/costmap_common_params.yaml" command="load" ns="local_costmap" />  
    <rosparam file="$(find turtlebot_tf)/yaml_tf/local_costmap_params.yaml" command="load" />  

    <rosparam file="$(find turtlebot_tf)/yaml_tf/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_tf)/yaml_tf/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_tf)/yaml_tf/global_planner_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_tf)/yaml_tf/navfn_global_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>
  </node-->

  <node pkg="pose_path_publisher" type="pose_path_publisher" name="pose_path_publisher" output="screen">
  	<!-- the frame where the robot pose and path will be exprese: ONLY odom or map -->
        <param name="target_frame_name" value="map" />
        <!-- the output topics names, puting an empty name ("") mean topic will not be published (DO NOT EMPTY BOTH PLZ.!)-->
        <param name="pose_topic_name" value="posegmapping" />
        <param name="path_topic_name" value="" />
        <param name="publish_frequency_" value="10.0" />
  </node>
  <!--node pkg="simple_exploration" type="simple_exploration" name="simple_exploration" >
  </node-->

  <!--used to compute frontiers by   rosrun phrontier_exploration headless phrontier_explorationpackage_extract_frontiers -->
  <node pkg="costmap_2d" type="costmap_2d_node" name="costmap_for_exploration_global">
    
    <rosparam ns="costmap" subst_value="true">
      global_frame: /map
      robot_base_frame: base_link
      update_frequency: 0.2
      publish_frequency: 0.2
      rolling_window: false
      always_send_full_costmap: true

      # Map management parameters
      unknown_cost_value: 255
      
      robot_radius: 0.178
      plugins: 
        - {name: static, type: "costmap_2d::StaticLayer"}
        - {name: inflation,        type: "costmap_2d::InflationLayer"}  
      static:
        #Can pull data from gmapping, map_server or a non-rolling costmap            
        map_topic: /map
        subscribe_to_updates: true 
      inflation:
        robot_radius: 0.178

    </rosparam>
  </node>
  
  <node pkg="phrontier_exploration" type="headless" name="exploration_global" args="phrontier_explorationpackage_extract_frontiers_bis">
    <param name="map_topic" value="/costmap_for_exploration_global/costmap/costmap"/>
    <param name="frontier_topic" value="phrontier_global"/>
  </node>
  
  <!--node pkg="costmap_2d" type="costmap_2d_node" name="costmap_for_exploration_local">
    
    <rosparam ns="costmap" subst_value="true">
      global_frame: /map
      robot_base_frame: base_link
      update_frequency: 0.3
      publish_frequency: 1.0
      static_map: false
      rolling_window: true
      width: 6.0
      height: 6.0
      origin_x: 0.0
      origin_y: 0.0

      always_send_full_costmap: true

      # Map management parameters
      unknown_cost_value: 255
      
      robot_radius: 0.30
      plugins: 
        - {name: static, type: "costmap_2d::StaticLayer"}
        - {name: inflation,        type: "costmap_2d::InflationLayer"}  
      static:
        #Can pull data from gmapping, map_server or a non-rolling costmap            
        map_topic: /map
        subscribe_to_updates: true 
      inflation:
        inflation_radius: 0.30

    </rosparam>
  </node-->

  <node pkg="phrontier_exploration" type="headless" name="exploration_local" args="phrontier_explorationpackage_extract_frontiers_accessibles" >
    <param name="map_topic" value="/costmap_for_exploration_local/costmap/costmap"/>
    <param name="frontier_topic" value="phrontier_local"/>
  </node>
  



</launch>
  
  
